# Android & Kotlin Specific
*.iml
.gradle
*.gradle
/local.properties
/.idea/
/captures/
.DS_Store
/build/
.externalNativeBuild
.cxx
local.properties

# Firebase & Google Services
app/google-services.json
app/src/debug/google-services.json
app/src/release/google-services.json
*.keystore

# Version Control & Logs
*.log
crashlytics.properties

