# Android & Kotlin Specific
*.iml
.gradle
*.gradle
/local.properties
/.idea/
/captures/
.DS_Store
/build/
.externalNativeBuild
.cxx
local.properties

# Version Control & Logs
*.log
crashlytics.properties

